<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/style/billing.css">

<div class="billing">

  <div class="billing-header">
    <h1>Billing</h1>
    <a href="/bills/new">
      <button class="create">+ Create Invoice</button>
    </a>
  </div>

  <div class="billing-box">
    <table>
      <tr>
        <th>Invoice</th>
        <th>Customer</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>

      <% if (!bills.length) { %>
        <tr>
          <td colspan="5" style="text-align:center;">No invoices found</td>
        </tr>
      <% } %>

      <% bills.forEach(bill => { %>
        <tr>
          <td>
            <a style="color: black;" href="/bills/<%= bill.id %>">
           <%= bill.invoice_no %>

            </a>
          </td>

          <td><%= bill.customer_name %></td>

          <td>
            <%= new Date(bill.created_at).toLocaleDateString('en-IN') %>
          </td>

          <td>₹<%= bill.grand_total %></td>

          <td>
            <% if (bill.status === "CANCELLED") { %>
  <span class="badge pending" style="color: red ;">Cancelled</span>
<% } else { %>
  <% if (bill.payment_status === "PAID") { %>
    <span class="badge paid">Paid</span>
  <% } else if (bill.payment_status === "PARTIAL") { %>
    <span class="badge partial">Partial</span>
  <% } else { %>
    <span class="badge pending">Due</span>
  <% } %>
<% } %>

            
          </td>
        </tr>
      <% }) %>

    </table>
  </div>

</div>
